<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails de {{pokemonData['Name']}}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"/>    <style>
        :root {
            --type1-color: #A8A77A; 
            --type2-color: #A8A77A; 
        }

        body {
            background: linear-gradient(to top, var(--type1-color), var(--type2-color)) !important;
        }

        #map { height: 700px; width: 1000px; margin-top: 20px; }
    </style>
    <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ number }}.png">
</head>
<body class="font-sans bg-gradient-to-t min-h-screen">

    <nav class="fixed w-full top-0 left-0 z-10 bg-black-100">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
                <!-- Logo Section -->
                <div class="flex-shrink-0">
                    <a href="/">
                    <img src="static/images/logoNavbar.png" alt="Logo" class="h-8 w-auto">
                    </a>
                </div>

                <!-- Links Section -->
                <div class="hidden md:block">
                    <div class="ml-10 flex items-baseline space-x-4">
                        <a href="/" class="text-white px-3 py-2 rounded-md text-sm font-medium hover:underline">Prédiction</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="flex h-screen items-center justify-center px-6">
        <div class="flex justify-center items-center w-1/2 h-full">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ number }}.png" alt="{{ pokemonData['Name'] }}" class="h-64 w-64 object-contain">
        </div>

        <div class="w-1/2 h-full text-white px-8 flex flex-col justify-center">
            <h2 class="text-6xl font-bold mb-4">#{{ number }}</h2>
            <h1 class="text-8xl font-extrabold mb-6">{{ pokemonData['Name'] }}</h1>
            <div class="text-2xl leading-relaxed">{{ pokemonData['Description'] }}</div>
            <p class="text-2xl">Poids : {{ pokemonData['Weight'] }}</p>
            <p class="text-2xl">Taille : {{ pokemonData['Height'] }}</p>
            {% if pokemonData['Legendaire'] %}
                <p class="text-2xl flex items-center">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/refs/heads/master/sprites/items/star-piece.png" class="mr-2" />
                    Pokémon légendaire
                </p>
            {% endif %}
            <div id="types-images" class="flex">
            </div>
        </div>
    </div>

    <div class="flex flex-col items-center my-8">
        <h2 class="text-4xl font-bold text-white mb-4">Famille évolutive de {{ pokemonData["Name"] }}</h2>
        <div class="flex space-x-8 justify-center">
            <!-- Sous-évolution 2 -->
            {% if pokemonData["Sub_Evolution_2"] != "None" %}
            <div class="flex flex-col items-center">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pokemonData['Sub_Evolution_2_ID'] }}.png" 
                    alt="{{ pokemonData['Sub_Evolution_2'] }}" 
                    class="h-24 w-24 object-contain mb-2">
                <p class="text-white text-sm">#{{ pokemonData["Sub_Evolution_2_ID"] }} - {{ pokemonData["Sub_Evolution_2"] }}</p>
            </div>
            {% endif %}
    
            <!-- Sous-évolution -->
            {% if pokemonData["Sub_Evolution"] != "None" %}
            <div class="flex flex-col items-center">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pokemonData['Sub_Evolution_ID'] }}.png" 
                    alt="{{ pokemonData['Sub_Evolution'] }}" 
                    class="h-24 w-24 object-contain mb-2">
                <p class="text-white text-sm">#{{ pokemonData["Sub_Evolution_ID"] }} - {{ pokemonData["Sub_Evolution"] }}</p>
            </div>
            {% endif %}
    
            <!-- Pokémon actuel -->
            <div class="flex flex-col items-center">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pokemonData['Number'] }}.png" 
                    alt="{{ pokemonData['Name'] }}" 
                    class="h-24 w-24 object-contain mb-2">
                <p class="text-white text-sm">#{{ pokemonData["Number"] }} - {{ pokemonData["Name"] }}</p>
            </div>
    
            <!-- Évolution -->
            {% if pokemonData["Evolution"] != "None" %}
            <div class="flex flex-col items-center">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pokemonData['Evolution_ID'] }}.png" 
                    alt="{{ pokemonData['Evolution'] }}" 
                    class="h-24 w-24 object-contain mb-2">
                <p class="text-white text-sm">#{{ pokemonData["Evolution_ID"] }} - {{ pokemonData["Evolution"] }}</p>
            </div>
            {% endif %}
    
            <!-- Évolution 2 -->
            {% if pokemonData["Evolution_2"] != "None" %}
            <div class="flex flex-col items-center">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pokemonData['Evolution_2_ID'] }}.png" 
                    alt="{{ pokemonData['Evolution_2'] }}" 
                    class="h-24 w-24 object-contain mb-2">
                <p class="text-white text-sm">#{{ pokemonData["Evolution_2_ID"] }} - {{ pokemonData["Evolution_2"] }}</p>
            </div>
            {% endif %}
        </div>
    </div>
    

    <div class="flex justify-center my-8">
        <div>
            <h2 class="text-4xl font-bold text-white mb-4 text-center">Localisation de {{pokemonData["Name"]}} en France sur Pokemon Go</h2>
            <div id="map"></div>
        </div>
    </div>


    <div>
        <h2 class="text-2xl font-bold text-white mb-4 text-center">Statistiques de base de {{pokemonData["Name"]}}</h2>
        <div class="flex space-x-4 justify-center mb-4">
            <img src="/static/bar_stats.png" alt="Image 1" class="w-64 h-auto">
            <img src="/static/radar_stats.png" alt="Image 2" class="w-64 h-auto">
        </div>
    </div>



    <div class="mb-4">
    <h2 class="text-2xl font-bold mb-6 text-gray-800 text-center text-white">Calcul du taux de capture</h2>

    <form id="catchRateForm" class="max-w-lg mx-auto p-6 bg-gray-50 border border-gray-300 rounded-lg shadow-md">
        
        <div class="mb-6">
            <label for="pokemonLevel" class="block mb-2 text-sm font-medium text-gray-900">Niveau du Pokémon :</label>
            <input 
                type="number" 
                id="pokemonLevel" 
                name="pokemonLevel" 
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" 
                min="1" 
                max="100"
                value="25" 
                required>
                
        </div>
    
        <div class="mb-6">
            <label for="pokeball" class="block mb-2 text-sm font-medium text-gray-900">Type de Pokéball :</label>
            <select 
                id="pokeball" 
                name="pokeball" 
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" 
                required>
                <option value="1">Pokéball</option>
                <option value="2">Super Ball</option>
                <option value="3">Hyper Ball</option>
                <option value="4">Ultra Ball</option>
                <option value="5">Master Ball</option>
            </select>
        </div>
    
        <div class="mb-6">
            <label for="pokemonHealth" class="block mb-2 text-sm font-medium text-gray-900">Vie restante du Pokémon :</label>
            <input 
                type="number" 
                id="pokemonHealth" 
                name="pokemonHealth" 
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" 
                min="1" 
                required>
        </div>
    
        <div class="mb-6">
            <label for="pokemonStatus" class="block mb-2 text-sm font-medium text-gray-900">Statut du Pokémon :</label>
            <select 
                id="pokemonStatus" 
                name="pokemonStatus" 
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" 
                required>
                <option value="0">Aucun</option>
                <option value="1">Paralysie</option>
                <option value="2">Brulure</option>
                <option value="3">Poison</option>
                <option value="4">Sommeil</option>
                <option value="5">Gel</option>
            </select>
        </div>
    
        <div class="flex justify-center">
            <button 
                type="submit" 
                class="w-full px-4 py-2 bg-blue-500 text-white text-sm font-medium rounded-lg shadow-md hover:bg-blue-600 focus:ring-2 focus:ring-blue-400 focus:ring-offset-2">
                Calculer
            </button>
        </div>
    </form>
    </div>

    <script>
        const typeColors = {
            "normal": "#A8A77A",
            "fire": "#EE8130",
            "water": "#6390F0",
            "electric": "#F7D02C",
            "grass": "#7AC74C",
            "ice": "#96D9D6",
            "fighting": "#C22E28",
            "poison": "#A33EA1",
            "ground": "#E2BF65",
            "flying": "#A98FF3",
            "psychic": "#F95587",
            "bug": "#A6B91A",
            "rock": "#B6A136",
            "ghost": "#735797",
            "dragon": "#6F35FC",
            "dark": "#705746",
            "steel": "#B7B7CE",
            "fairy": "#D685AD"
        };

        // Récupérer les données du Pokémon de Flask
        const pokemonData = {
            Type: "{{ pokemonData['Type'] }}", // Récupéré depuis Flask
            Name: "{{ pokemonData['Name'] }}", // Récupéré depuis Flask
            Description: "{{ pokemonData['Description'] }}" // Récupéré depuis Flask
        };

        // Séparer la chaîne de types
        const types = pokemonData.Type.split(" / ");

        // Fonction pour afficher les images des types
        const showTypesImages = () => {
            const typesContainer = document.getElementById('types-images');

            // Boucle pour ajouter une image pour chaque type
            types.forEach(type => {
                const typeId = type.toLowerCase();
                const typeImageUrl = `static/images/types/${getTypeImage(typeId)}.png`;

                const typeImageElement = document.createElement('img');
                typeImageElement.src = typeImageUrl;
                typeImageElement.alt = type;
                typeImageElement.classList.add('type-img');
                typeImageElement.classList.add('mr-2');

                typesContainer.appendChild(typeImageElement);
            });
        };

        // Fonction pour obtenir le nom du fichier image selon le type
        const getTypeImage = (type) => {
            const typeMapping = {
                "normal": "normal",
                "fire": "fire",
                "water": "water",
                "electric": "electric",
                "grass": "grass",
                "psychic": "psychic",
                "ice": "ice",
                "dragon": "dragon",
                "dark": "dark",
                "fairy": "fairy",
                "fighting": "fighting",
                "flying": "flying",
                "poison": "poison",
                "ground": "ground",
                "rock": "rock",
                "bug": "bug",
                "ghost": "ghost",
                "steel": "steel"
            };

            return typeMapping[type] || type; // Par défaut, on retourne le type
        };

        // Afficher les images des types
        showTypesImages();

        // Récupérer les couleurs des types
        const type1Color = typeColors[types[0].toLowerCase()];
        const type2Color = types[1] ? typeColors[types[1].toLowerCase()] : null;

        // Appliquer le dégradé de couleurs
        document.documentElement.style.setProperty('--type1-color', type1Color);
        if (type2Color) {
            document.documentElement.style.setProperty('--type2-color', type2Color);
        } else {
            document.documentElement.style.setProperty('--type2-color', type1Color); // Utiliser la même couleur si un seul type
        }


        var coordonneesPokemon = JSON.parse('{{ coordonneesPokemon | tojson | safe }}');
        var number = '{{ number }}';

        console.log(coordonneesPokemon);

        var map = L.map('map').setView([46.603354, 1.888334], 6);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data © <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Ajouter les marqueurs sur la carte
        if (Array.isArray(coordonneesPokemon) && coordonneesPokemon.length > 0) {
            coordonneesPokemon.forEach(function(point) {
                if (point.latitude && point.longitude) {
                    var pokemonImageUrl = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${number}.png`;

                    var pokemonIcon = L.icon({
                        iconUrl: pokemonImageUrl,
                        iconSize: [80, 80], 
                        iconAnchor: [16, 32], 
                        popupAnchor: [0, -32] 
                    });

                    L.marker([point.latitude, point.longitude], { icon: pokemonIcon })
                        .addTo(map)
                        .bindPopup('Pokémon n° ' + number);
                } else {
                    console.error('Coordonnée invalide ou manque de numéro Pokémon :', point);
                }
            });
        } else {
            console.error('coordonneesPokemon n\'est pas un tableau valide ou est vide');
        }

        const pokemonValue = "{{ pokemonData['Legendaire'] }}" === "False" ? "{{ pokemonData['step'] }}" : 4;
        
        document.getElementById('catchRateForm').addEventListener('submit', function (event) {
            event.preventDefault();

            const pokemonLevel = parseInt(document.getElementById('pokemonLevel').value, 10);
            const pokeball = document.getElementById('pokeball').value;
            const pokemonHP = parseInt("{{ pokemonData['hp'] }}", 10) + (pokemonLevel-1) * 2;
            let pokemonHealth = parseInt(document.getElementById('pokemonHealth').value, 10);

            if (pokemonHealth > pokemonHP) {
                pokemonHealth = pokemonHP; 
            }

            const formData = {
                pokemonLevel: pokemonLevel,
                pokeball: pokeball,
                pokemonHealth: pokemonHealth, 
                pokemonValue: pokemonValue, 
                pokemonHP: pokemonHP,
                pokemonValue: pokemonValue,
            };

            fetch('/catch', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json', 
                },
                body: JSON.stringify(formData),
            })
                .then((response) => {
                    if (!response.ok) {
                        throw new Error('Une erreur est survenue avec le serveur');
                    }
                    return response.json();
                })
                .then((data) => {
                    if(data.result < 0) {
                        data.result = 0;
                    } else if(data.result > 100) {
                        data.result = 100;
                    }
                    alert(`Le taux de capture est estimé à ${data.result} %`);
                })
                .catch((error) => {
                    console.error('Erreur :', error);
                    alert('Une erreur est survenue. Veuillez réessayer.');
                });
        });
    </script>

</body>
</html>
